{% extends 'app/base.html' %}

{% block content %}
    {% if wallet %}
        <div class="box">
            <h4><center><font color="black">Wallet</font></center></h4>
            <p><font color="black">Bitcoin:</font> <font color="blue">{{ bit_user }} B</font></p>
            <p><font color="black">Dollari:</font> <font color="blue">{{ dol_user }} $</font></p>
        </div>
    {% endif %}
    <h2>Nuovo acquisto</h2>
    <form method="POST" class="post-form">{% csrf_token %}
         {{ trans.as_p }}
         <button type="submit" class="save btn btn-default">Save</button>
     </form>

{% endblock %}