{% extends 'app/base.html' %}

{% block content %}
    <div class="box">
        <h4><center><font color="black">Wallet</font></center></h4>
        <p><font color="black">Bitcoin:</font> <font color="blue">{{ transs.bit_fin }} B</font></p>
        <p><font color="black">Dollari:</font> <font color="blue">{{ transs.dol_fin }} $</font></p>
    </div>
    {% for trans in transs %}
        <article class="trans">
            <time class="date">
                {{ trans.published_date }}
            </time>
            {% if trans.buy_in > 0 %}
                {% if trans.creator == request.user.username %}
                    <h2><a href="{% url 'transaction_detail' pk=trans.pk %}"><font color="black">{{ trans.creator }} : </font><font color="green">+ {{ trans.total_B_exchanged }} Bitcoin </font><font color="red">    - {{ trans.total_price }} $</font></a></h2>
                {% else %}
                    <h2><a href="{% url 'transaction_detail' pk=trans.pk %}"><font color="black">{{ trans.creator }} : </font><font color="red">- {{ trans.total_B_exchanged }} Bitcoin </font><font color="green">   + {{ trans.total_price }} $</font></a></h2>
                {% endif %}
            {% elif trans.sell_in > 0 %}
                {% if trans.creator == request.user.username %}
                    <h2><a href="{% url 'transaction_detail' pk=trans.pk %}"><font color="black">{{ trans.creator }} : </font><font color="red">- {{ trans.total_B_exchanged }} Bitcoin </font><font color="green">   + {{ trans.total_price }} $</font></a></h2>
                {% else %}
                    <h2><a href="{% url 'transaction_detail' pk=trans.pk %}"><font color="black">{{ trans.creator }} : </font><font color="green">+ {{ trans.total_B_exchanged }} Bitcoin </font><font color="red">   - {{ trans.total_price }} $</font></a></h2>
                {% endif %}
            {% endif %}
        </article>
    {% endfor %}
    {% if transs.bit_diff >= 0 %}
        <h3>Hai guadagnato: <font color="green">{{ transs.bit_diff }} Bitcoin</font></h3>
    {% else %}
        <h3>Hai perso: <font color="red">{{ transs.bit_diff }} Bitcoin</font></h3>
    {% endif %}
    {% if transs.dol_diff >= 0 %}
        <h3>Hai guadagnato: <font color="green">{{ transs.dol_diff }} $</font></h3>
    {% else %}
        <h3>Hai perso: <font color="red">{{ transs.dol_diff }} $</font></h3>
    {% endif %}
{% endblock %}