{% extends 'app/base.html' %}

{% block content %}
    {% if wallet %}
        <div class="box">
            <h4><center><font color="black">Wallet</font></center></h4>
            <p><font color="black">Bitcoin:</font> <font color="blue">{{ bit_user }} B</font></p>
            <p><font color="black">Dollari:</font> <font color="blue">{{ dol_user }} $</font></p>
        </div>
    {% endif %}
    <a href="{% url 'buy_new' %}">
        <button type="button" class="btn btn-outline-primary btn-lg">
            <h4>Acquista</h4>
        </button>
    </a>
    <a href="{% url 'sell_new' %}">
        <button type="button" class="btn btn-outline-primary btn-lg">
            <h4>Vendi</h4>
        </button>
    </a>
{% endblock %}